.Alert {
  border-radius: var(--component-alert-border-radius);
  border-style: solid;
  border-width: var(--component-alert-border-width);
  padding: var(--component-alert-padding-vertical) var(--component-alert-padding-horizontal);
}

.AlertOnClose {
  position: relative;
}

.AlertButton {
  -webkit-appearance: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  line-height: 1;
  margin: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
}

/** Variant */

.AlertError {
  background: var(--component-alert-error-background-color);
  border-color: var(--component-alert-error-border-color);
  color: var(--component-alert-error-text-color);
}

.AlertSuccess {
  background: var(--component-alert-success-background-color);
  border-color: var(--component-alert-success-border-color);
  color: var(--component-alert-success-text-color);
}

.AlertWarning {
  background: var(--component-alert-warning-background-color);
  border-color: var(--component-alert-warning-border-color);
  color: var(--component-alert-warning-text-color);
}
