/** Styles: Global */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background: var(--color-theme-background-color);
  color: var(--color-theme-text-color);
  font-family: sans-serif;
  line-height: 1.5;
}
