.TabsList {
  border-color: var(--component-tabs-border-bottom-color);
  border-style: solid;
  border-width: 0 0 var(--component-tabs-border-bottom-width);
  display: flex;
}

/** Tabs: Button */

.TabsButton {
  -webkit-appearance: none;
  background: var(--component-tabs-button-states-base-background-color-base);
  border: none;
  color: var(--component-tabs-button-states-base-text-color-base);
  cursor: pointer;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  padding: var(--component-tabs-button-padding);
}

.TabsButton:hover {
  background: var(--component-tabs-button-states-base-background-color-hover);
  color: var(--component-tabs-button-states-base-text-color-hover);
}

.TabsButton:focus,
.TabsButton:active {
  background: var(--component-tabs-button-states-base-background-color-active);
  color: var(--component-tabs-button-states-base-text-color-active);
}

/** Tabs: Button: Selected */

.TabsButton[aria-selected] {
  background: var(--component-tabs-button-states-selected-background-color-base);
  color: var(--component-tabs-button-states-selected-text-color-base);
}

.TabsButton[aria-selected]:hover {
  background: var(--component-tabs-button-states-selected-background-color-hover);
  color: var(--component-tabs-button-states-selected-text-color-hover);
}

.TabsButton[aria-selected]:focus,
.TabsButton[aria-selected]:active {
  background: var(--component-tabs-button-states-selected-background-color-active);
  color: var(--component-tabs-button-states-selected-text-color-active);
}
