/** Checkbox: Label */

.CheckboxLabel {
  display: flex;
}

/** Checkbox: Indicator */

.CheckboxIndicator {
  align-items: center;
  background: var(--theme-color-secondary-background);
  border-color: var(--theme-color-secondary-border);
  border-radius: var(--theme-size-medium-border-radius);
  border-style: solid;
  border-width: var(--theme-size-medium-border-width);
  color: var(--theme-color-secondary-text);
  cursor: pointer;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  margin-right: var(--space-100);
  width: 1.5rem;
}

.CheckboxIndicator:hover,
:global(.storybook-hover) .CheckboxIndicator {
  background: var(--theme-color-secondary-hover-background);
  border-color: var(--theme-color-secondary-hover-border);
  color: var(--theme-color-secondary-hover-text);
}

.CheckboxIndicator:focus,
:global(.storybook-focus) .CheckboxIndicator,
.CheckboxIndicator:active,
:global(.storybook-active) .CheckboxIndicator {
  background: var(--theme-color-secondary-active-background);
  border-color: var(--theme-color-secondary-active-border);
  color: var(--theme-color-secondary-active-text);
}

.CheckboxIndicatorIcon {
  opacity: 0;
}

/** Checkbox: Indicator: Checked, Indeterminate */

/* stylelint-disable no-descending-specificity */
input:checked ~ .CheckboxIndicator,
input:indeterminate ~ .CheckboxIndicator {
  background: var(--theme-color-primary-background);
  border-color: var(--theme-color-primary-border);
  color: var(--theme-color-primary-text);
}

input:checked ~ .CheckboxIndicator:hover,
:global(.storybook-hover) input:checked ~ .CheckboxIndicator {
  background: var(--theme-color-primary-hover-background);
  border-color: var(--theme-color-primary-hover-border);
  color: var(--theme-color-primary-hover-text);
}

input:checked ~ .CheckboxIndicator:focus,
:global(.storybook-focus) input:checked ~ .CheckboxIndicator,
input:checked ~ .CheckboxIndicator:active,
:global(.storybook-active) input:checked ~ .CheckboxIndicator {
  background: var(--theme-color-primary-active-background);
  border-color: var(--theme-color-primary-active-border);
  color: var(--theme-color-primary-active-text);
}

input:indeterminate ~ .CheckboxIndicator .CheckboxIndicatorIcon,
input:checked ~ .CheckboxIndicator .CheckboxIndicatorIcon {
  opacity: 1;
}

/** Checkbox: Indicator: Disabled */

input[disabled] ~ .CheckboxIndicator {
  background: var(--theme-color-secondary-disabled-background);
  border-color: var(--theme-color-secondary-disabled-border);
  color: var(--theme-color-secondary-disabled-text);
  cursor: default;
}

input[disabled]:checked ~ .CheckboxIndicator {
  background: var(--theme-color-primary-disabled-background);
  border-color: var(--theme-color-primary-disabled-border);
  color: var(--theme-color-primary-disabled-text);
}
/* stylelint-enable no-descending-specificity */

/** Checkbox: Error */

.CheckboxError {
  margin-top: var(--space-100);
}
