.ControlError {
  background: var(--theme-color-error-background);
  color: var(--theme-color-error-text);
  font-size: var(--theme-size-small-font-size);
  line-height: var(--theme-size-small-line-height);
}
