.Tag {
  border-width: var(--theme-size-small-border-width);
  border-radius: var(--theme-size-small-border-radius);
  border-style: solid;
  display: inline-block;
  font-size: var(--theme-size-small-font-size);
  line-height: var(--theme-size-small-line-height);
  padding: var(--theme-size-small-padding);
}

/* Variant */

.TagError {
  background: var(--theme-color-error-background);
  border-color: var(--theme-color-error-border);
  color: var(--theme-color-error-text);
}

.TagPrimary {
  background: var(--theme-color-primary-background);
  border-color: var(--theme-color-primary-border);
  color: var(--theme-color-primary-text);
}

.TagSecondary {
  background: var(--theme-color-secondary-background);
  border-color: var(--theme-color-secondary-border);
  color: var(--theme-color-secondary-text);
}

.TagSuccess {
  background: var(--theme-color-success-background);
  border-color: var(--theme-color-success-border);
  color: var(--theme-color-success-text);
}

.TagWarning {
  background: var(--theme-color-warning-background);
  border-color: var(--theme-color-warning-border);
  color: var(--theme-color-warning-text);
}
