/** Checkbox: Label */

.CheckboxLabel {
  display: flex;
}

/** Checkbox: Indicator */

.CheckboxIndicator {
  align-items: center;
  background: var(--components-checkbox-indicator-states-base-background-color-base);
  border-color: var(--components-checkbox-indicator-states-base-border-color-base);
  border-radius: var(--components-checkbox-indicator-border-radius);
  border-style: solid;
  border-width: var(--components-checkbox-indicator-border-width);
  color: var(--components-checkbox-indicator-states-base-icon-color-base);
  cursor: pointer;
  display: flex;
  height: var(--components-checkbox-indicator-height);
  justify-content: center;
  margin-right: var(--components-checkbox-label-margin-left);
  width: var(--components-checkbox-indicator-width);
}

.CheckboxIndicator:hover,
:global(.storybook-hover) .CheckboxIndicator {
  background: var(--components-checkbox-indicator-states-base-background-color-hover);
  border-color: var(--components-checkbox-indicator-states-base-border-color-hover);
  color: var(--components-checkbox-indicator-states-base-icon-color-hover);
}

.CheckboxIndicator:focus,
:global(.storybook-focus) .CheckboxIndicator,
.CheckboxIndicator:active,
:global(.storybook-active) .CheckboxIndicator {
  background: var(--components-checkbox-indicator-states-base-background-color-active);
  border-color: var(--components-checkbox-indicator-states-base-border-color-active);
  color: var(--components-checkbox-indicator-states-base-icon-color-active);
}

.CheckboxIndicatorIcon {
  opacity: 0;
}

/** Checkbox: Indicator: Checked, Indeterminate */

/* stylelint-disable no-descending-specificity */
input:checked ~ .CheckboxIndicator,
input:indeterminate ~ .CheckboxIndicator {
  background: var(--components-checkbox-indicator-states-checked-background-color-base);
  border-color: var(--components-checkbox-indicator-states-checked-border-color-base);
  color: var(--components-checkbox-indicator-states-checked-icon-color-base);
}

input:checked ~ .CheckboxIndicator:hover,
:global(.storybook-hover) input:checked ~ .CheckboxIndicator {
  background: var(--components-checkbox-indicator-states-checked-background-color-hover);
  border-color: var(--components-checkbox-indicator-states-checked-border-color-hover);
  color: var(--components-checkbox-indicator-states-checked-icon-color-hover);
}

input:checked ~ .CheckboxIndicator:focus,
:global(.storybook-focus) input:checked ~ .CheckboxIndicator,
input:checked ~ .CheckboxIndicator:active,
:global(.storybook-active) input:checked ~ .CheckboxIndicator {
  background: var(--components-checkbox-indicator-states-checked-background-color-active);
  border-color: var(--components-checkbox-indicator-states-checked-border-color-active);
  color: var(--components-checkbox-indicator-states-checked-icon-color-active);
}

input:indeterminate ~ .CheckboxIndicator .CheckboxIndicatorIcon,
input:checked ~ .CheckboxIndicator .CheckboxIndicatorIcon {
  opacity: 1;
}

/** Checkbox: Indicator: Disabled */

input[disabled] ~ .CheckboxIndicator {
  background: var(--components-checkbox-indicator-states-base-background-color-disabled);
  border-color: var(--components-checkbox-indicator-states-base-border-color-disabled);
  color: var(--components-checkbox-indicator-states-base-icon-color-disabled);
  cursor: default;
}

input[disabled]:checked ~ .CheckboxIndicator {
  background: var(--components-checkbox-indicator-states-checked-background-color-disabled);
  border-color: var(--components-checkbox-indicator-states-checked-border-color-disabled);
  color: var(--components-checkbox-indicator-states-checked-icon-color-disabled);
}

/* stylelint-enable no-descending-specificity */

/** Checkbox: Error */

.CheckboxError {
  margin-top: var(--components-checkbox-error-margin-top);
}
