/** Card */

.Card {
  background: var(--component-card-background-color);
  border-color: var(--component-card-border-color);
  border-radius: var(--component-card-border-radius);
  border-style: solid;
  border-width: var(--component-card-border-width);
  padding: var(--component-card-padding);
}
