/**
 * Styles: Theme
 *
 * The theme maps tokens to semantic variables for use within components.
 */
:root {
  /** Styles: Theme: Color */

  /** Primary */
  --theme-color-primary-background: var(--color-purple-300);
  --theme-color-primary-border: transparent;
  --theme-color-primary-text: var(--color-white);
  --theme-color-primary-hover-background: var(--color-purple-400);
  --theme-color-primary-hover-border: transparent;
  --theme-color-primary-hover-text: var(--color-white);
  --theme-color-primary-active-background: var(--color-purple-500);
  --theme-color-primary-active-border: transparent;
  --theme-color-primary-active-text: var(--color-white);
  --theme-color-primary-disabled-background: var(--color-gray-400);
  --theme-color-primary-disabled-border: transparent;
  --theme-color-primary-disabled-text: var(--color-white);

  /** Secondary */
  --theme-color-secondary-background: var(--color-gray-700);
  --theme-color-secondary-border: var(--color-purple-200);
  --theme-color-secondary-text: var(--color-purple-200);
  --theme-color-secondary-hover-background: var(--color-gray-700);
  --theme-color-secondary-hover-border: var(--color-purple-100);
  --theme-color-secondary-hover-text: var(--color-purple-100);
  --theme-color-secondary-active-background: var(--color-gray-700);
  --theme-color-secondary-active-border: var(--color-purple-100);
  --theme-color-secondary-active-text: var(--color-purple-100);
  --theme-color-secondary-disabled-background: var(--color-gray-700);
  --theme-color-secondary-disabled-border: var(--color-gray-400);
  --theme-color-secondary-disabled-text: var(--color-gray-400);

  /** Error */
  --theme-color-error-background: var(--color-red-300);
  --theme-color-error-border: var(--color-red-500);
  --theme-color-error-text: var(--color-white);

  /** Success */
  --theme-color-success-background: var(--color-green-300);
  --theme-color-success-border: var(--color-green-500);
  --theme-color-success-text: var(--color-white);

  /** Warning */
  --theme-color-warning-background: var(--color-yellow-200);
  --theme-color-warning-border: var(--color-yellow-500);
  --theme-color-warning-text: var(--color-black);
  --theme-color-background: var(--color-gray-700);
  --theme-color-text: var(--color-gray-200);
  --theme-color-text-secondary: var(--color-gray-300);

  /** Styles: Theme: Size */

  /** Small */
  --theme-size-small-border-radius: 0.25rem;
  --theme-size-small-border-width: 1px;
  --theme-size-small-font-size: var(--typography-font-size-100);
  --theme-size-small-line-height: var(--typography-line-height-100);
  --theme-size-small-padding: var(--space-100);

  /** Medium */
  --theme-size-medium-border-radius: 0.5rem;
  --theme-size-medium-border-width: 1px;
  --theme-size-medium-font-size: var(--typography-font-size-200);
  --theme-size-medium-line-height: var(--typography-line-height-200);
  --theme-size-medium-padding: var(--space-200);

  /** Large */
  --theme-size-large-border-radius: 0.667rem;
  --theme-size-large-border-width: 1px;
  --theme-size-large-font-size: var(--typography-font-size-300);
  --theme-size-large-line-height: var(--typography-line-height-300);
  --theme-size-large-padding: var(--space-300);
}
