.ControlError {
  background: var(--component-control-error-background-color);
  color: var(--component-control-error-text-color);
  font-size: var(--component-control-error-font-size);
  line-height: var(--component-control-error-line-height);
}
