.Grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing-100));
  margin-right: calc(-1 * var(--spacing-100));
}

.GridCol {
  flex: 1;
  padding-left: var(--spacing-100);
  padding-right: var(--spacing-100);
}
