/** Radio */

/** Radio: Label */

.RadioLabel {
  display: flex;
}

/** Radio: Indicator */

.RadioIndicator {
  border-color: var(--theme-color-secondary-border);
  border-radius: 100%;
  border-style: solid;
  border-width: var(--theme-size-medium-border-width);
  cursor: pointer;
  height: 1.5em;
  margin-right: var(--space-100);
  width: 1.5em;
}

.RadioIndicator:hover,
:global(.storybook-hover) .RadioIndicator {
  background: var(--theme-color-secondary-hover-background);
  border-color: var(--theme-color-secondary-hover-border);
}

.RadioIndicator:focus,
:global(.storybook-focus) .RadioIndicator,
.RadioIndicator:active,
:global(.storybook-active) .RadioIndicator {
  background: var(--theme-color-secondary-active-background);
  border-color: var(--theme-color-secondary-active-border);
}

/** Radio: Indicator: Checked */

/* stylelint-disable no-descending-specificity */

input:checked ~ .RadioIndicator {
  background: var(--theme-color-primary-background);
  border-color: var(--theme-color-primary-border);
  position: relative;
}

input:checked ~ .RadioIndicator::after {
  background: var(--theme-color-primary-text);
  border-radius: 100%;
  content: '';
  height: 0.75em;
  left: 0.325em;
  position: absolute;
  top: 0.325em;
  width: 0.75em;
}

input:checked ~ .RadioIndicator:hover,
:global(.storybook-hover) input:checked ~ .RadioIndicator {
  background: var(--theme-color-primary-hover-background);
  border-color: var(--theme-color-primary-hover-border);
}

input:checked ~ .RadioIndicator:focus,
:global(.storybook-focus) input:checked ~ .RadioIndicator,
input:checked ~ .RadioIndicator:active,
:global(.storybook-active) input:checked ~ .RadioIndicator {
  background: var(--theme-color-primary-active-background);
  border-color: var(--theme-color-primary-active-border);
}

/** Radio: Indicator: Disabled */

input[disabled] ~ .RadioIndicator {
  background: var(--theme-color-secondary-disabled-background);
  border-color: var(--theme-color-secondary-disabled-border);
  cursor: default;
}

input[disabled]:checked ~ .RadioIndicator {
  background: var(--theme-color-primary-disabled-background);
  border-color: var(--theme-color-primary-disabled-border);
}

/* stylelint-enable no-descending-specificity */

/** Radio: Error */

.RadioError {
  margin-top: var(--space-100);
}
