/** Radio */

/** Radio: Label */

.RadioLabel {
  display: flex;
}

/** Radio: Indicator */

.RadioIndicator {
  background: var(--component-radio-indicator-states-base-background-color-base);
  border-color: var(--component-radio-indicator-states-base-border-color-base);
  border-radius: 100%;
  border-style: solid;
  border-width: var(--component-radio-indicator-border-width);
  cursor: pointer;
  height: var(--component-radio-indicator-height);
  margin-right: var(--component-radio-label-margin-left);
  width: var(--component-radio-indicator-width);
}

.RadioIndicator:hover,
:global(.storybook-hover) .RadioIndicator {
  background: var(--component-radio-indicator-states-base-background-color-hover);
  border-color: var(--component-radio-indicator-states-base-border-color-hover);
}

.RadioIndicator:focus,
:global(.storybook-focus) .RadioIndicator,
.RadioIndicator:active,
:global(.storybook-active) .RadioIndicator {
  background: var(--component-radio-indicator-states-base-background-color-active);
  border-color: var(--component-radio-indicator-states-base-border-color-active);
}

/** Radio: Indicator: Checked */

/* stylelint-disable no-descending-specificity */

input:checked ~ .RadioIndicator {
  background: var(--component-radio-indicator-states-checked-background-color-base);
  border-color: var(--component-radio-indicator-states-checked-border-color-base);
  position: relative;
}

input:checked ~ .RadioIndicator::after {
  background: var(--component-radio-dot-states-checked-background-color);
  border-radius: 100%;
  content: '';
  height: 0.75em;
  left: 0.325em;
  position: absolute;
  top: 0.325em;
  width: 0.75em;
}

input:checked ~ .RadioIndicator:hover,
:global(.storybook-hover) input:checked ~ .RadioIndicator {
  background: var(--component-radio-indicator-states-checked-background-color-hover);
  border-color: var(--component-radio-indicator-states-checked-border-color-hover);
}

input:checked ~ .RadioIndicator:focus,
:global(.storybook-focus) input:checked ~ .RadioIndicator,
input:checked ~ .RadioIndicator:active,
:global(.storybook-active) input:checked ~ .RadioIndicator {
  background: var(--component-radio-indicator-states-checked-background-color-active);
  border-color: var(--component-radio-indicator-states-checked-border-color-active);
}

/** Radio: Indicator: Disabled */

input[disabled] ~ .RadioIndicator {
  background: var(--component-radio-indicator-states-base-background-color-disabled);
  border-color: var(--component-radio-indicator-states-base-border-color-disabled);
  cursor: default;
}

input[disabled]:checked ~ .RadioIndicator {
  background: var(--component-radio-indicator-states-checked-background-color-disabled);
  border-color: var(--component-radio-indicator-states-checked-border-color-disabled);
}

/* stylelint-enable no-descending-specificity */

/** Radio: Error */

.RadioError {
  margin-top: var(--component-radio-error-margin-top);
}
