/* Link */

.Link {
  color: var(--component-link-text-color-base);
  text-decoration: underline;
}

.Link:hover,
:global(.storybook-hover).Link {
  color: var(--component-link-text-color-hover);
}

.Link:focus,
:global(.storybook-focus).Link,
.Link:active,
:global(.storybook-active).Link {
  color: var(--component-link-text-color-active);
}
