/** Tokens: Color */
:root {
  --color-black: #000;
  --color-white: #fff;

  /**
   * Tokens: Color: Blue
   * {@link https://www.colorbox.io/#steps=5#hue_start=194#hue_end=213#hue_curve=easeInOutQuad#sat_start=7#sat_end=92#sat_curve=easeOutQuad#sat_rate=130#lum_start=99#lum_end=53#lum_curve=easeInOutQuad#minor_steps_map=none}
   */
  --color-blue-100: #e5f7fc;
  --color-blue-200: #61c8ee;
  --color-blue-300: #0b7ac4;
  --color-blue-400: #004996;
  --color-blue-500: #003d87;

  /**
   * Tokens: Color: Gray
   * @{link https://www.colorbox.io/#steps=7#hue_start=279#hue_end=284#hue_curve=easeInOutQuad#sat_start=1#sat_end=16#sat_curve=easeInQuad#sat_rate=130#lum_start=97#lum_end=13#lum_curve=easeInOutQuad#minor_steps_map=none}
   */
  --color-gray-100: #f6f4f7;
  --color-gray-200: #f2eff4;
  --color-gray-300: #e1dbe3;
  --color-gray-400: #9e97a1;
  --color-gray-500: #38343a;
  --color-gray-600: #242025;
  --color-gray-700: #1f1a21;

  /**
   * Tokens: Color: Green
   * {@link https://www.colorbox.io/#steps=5#hue_start=133#hue_end=159#hue_curve=easeInOutQuad#sat_start=7#sat_end=92#sat_curve=easeOutQuad#sat_rate=130#lum_start=98#lum_end=43#lum_curve=easeInOutQuad#minor_steps_map=none}
   */
  --color-green-100: #e3fae8;
  --color-green-200: #5fe985;
  --color-green-300: #0ab656;
  --color-green-400: #00804c;
  --color-green-500: #006e47;

  /**
   * Tokens: Color: Orange
   * {@link https://www.colorbox.io/#steps=5#hue_start=24#hue_end=31#hue_curve=easeInOutQuad#sat_start=15#sat_end=98#sat_curve=easeOutQuad#sat_rate=130#lum_start=99#lum_end=62#lum_curve=easeInOutQuad#minor_steps_map=none}
   */
  --color-orange-100: #fcdfcb;
  --color-orange-200: #f1914c;
  --color-orange-300: #cf5f00;
  --color-orange-400: #aa5600;
  --color-orange-500: #9e5200;

  /**
   * Tokens: Color: Purple
   * {@link https://www.colorbox.io/#steps=5#hue_start=276#hue_end=292#hue_curve=easeInOutQuad#sat_start=7#sat_end=92#sat_curve=easeOutQuad#sat_rate=130#lum_start=99#lum_end=53#lum_curve=easeInOutQuad#minor_steps_map=none}
   */
  --color-purple-100: #f3e5fc;
  --color-purple-200: #b961ed;
  --color-purple-300: #920bc2;
  --color-purple-400: #7e0097;
  --color-purple-500: #750087;

  /**
   * Tokens: Color: Red
   * {@link https://www.colorbox.io/#steps=5#hue_start=4#hue_end=0#hue_curve=easeInOutQuad#sat_start=10#sat_end=88#sat_curve=easeOutQuad#sat_rate=130#lum_start=99#lum_end=49#lum_curve=easeInOutQuad#minor_steps_map=none}
   */
  --color-red-100: #fcdedc;
  --color-red-200: #ed6961;
  --color-red-300: #bf1611;
  --color-red-400: #8d0100;
  --color-red-500: #7d0000;

  /**
   * Tokens: Color: Yellow
   * {@link https://www.colorbox.io/#steps=5#hue_start=51#hue_end=58#hue_curve=easeInOutQuad#sat_start=7#sat_end=92#sat_curve=easeOutQuad#sat_rate=130#lum_start=98#lum_end=35#lum_curve=easeInOutQuad#minor_steps_map=none}
   */
  --color-yellow-100: #faf6e3;
  --color-yellow-200: #e6d45e;
  --color-yellow-300: #ac9d0a;
  --color-yellow-400: #6e6900;
  --color-yellow-500: #595600;
}
