.Tag {
  border-radius: var(--component-tag-border-radius);
  border-style: solid;
  border-width: var(--component-tag-border-width);
  display: inline-block;
  font-size: var(--component-tag-font-size);
  line-height: var(--component-tag-line-height);
  padding: var(--component-tag-padding-vertical) var(--component-tag-padding-horizontal);
}

/* Variant */

.TagError {
  background: var(--component-tag-variant-error-background-color);
  border-color: var(--component-tag-variant-error-border-color);
  color: var(--component-tag-variant-error-text-color);
}

.TagPrimary {
  background: var(--component-tag-variant-primary-background-color);
  border-color: var(--component-tag-variant-primary-border-color);
  color: var(--component-tag-variant-primary-text-color);
}

.TagSecondary {
  background: var(--component-tag-variant-secondary-background-color);
  border-color: var(--component-tag-variant-secondary-border-color);
  color: var(--component-tag-variant-secondary-text-color);
}

.TagSuccess {
  background: var(--component-tag-variant-success-background-color);
  border-color: var(--component-tag-variant-success-border-color);
  color: var(--component-tag-variant-success-text-color);
}

.TagWarning {
  background: var(--component-tag-variant-warning-background-color);
  border-color: var(--component-tag-variant-warning-border-color);
  color: var(--component-tag-variant-warning-text-color);
}
