.List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ListItem {
  border-bottom: var(--component-list-item-border-bottom-width) solid var(--component-list-item-border-bottom-color);
  padding: var(--component-list-item-padding-vertical) var(--component-list-item-padding-horizontal);
}

.ListItem:last-child {
  border-bottom: 0;
}
