/** Breadcrumb: List */

.BreadcrumbList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/** Breadcrumb: List: Item */

.BreadcrumbListItem::after {
  color: var(--color-theme-secondary-text-color-base);
  content: '/';
  display: inline-block;
}

.BreadcrumbListItem:last-child::after {
  content: '';
  display: none;
}

/** Breadcrumb: Link */

.BreadcrumbLink {
  display: inline-block;
  padding: var(--size-space-50);
}

.BreadcrumbLink[aria-current] {
  font-weight: 700;
}
