/** Nav */

/** Nav: List */

.NavList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/** Nav: Link */

.NavLink {
  background: var(--component-nav-link-background-color-base);
  color: var(--component-nav-link-text-color-base);
  display: inline-block;
  padding: var(--component-nav-link-padding);
  text-decoration: none;
}

.NavLink:hover {
  background: var(--component-nav-link-background-color-hover);
  color: var(--component-nav-link-text-color-hover);
}

.NavLink:focus,
.NavLink:active {
  background: var(--component-nav-link-background-color-active);
  color: var(--component-nav-link-text-color-active);
}

/** Nav: Link: Current */

.NavLinkCurrent {
  background: var(--color-theme-primary-background-color-base);
  color: var(--color-theme-primary-text-color-base);
}

.NavLinkCurrent:hover {
  background: var(--color-theme-primary-background-color-hover);
  color: var(--color-theme-primary-text-color-hover);
}

.NavLinkCurrent:focus,
.NavLinkCurrent:active {
  background: var(--color-theme-primary-background-color-active);
  color: var(--color-theme-primary-text-color-active);
}
