/* Button */

.Button {
  border-style: solid;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

.Button[disabled] {
  cursor: default;
}

/* Button: primary */

.ButtonPrimary {
  background: var(--component-button-primary-background-color-base);
  border-color: var(--component-button-primary-border-color-base);
  color: var(--component-button-primary-text-color-base);
}

.ButtonPrimary:hover,
:global(.storybook-hover).ButtonPrimary {
  background: var(--component-button-primary-background-color-hover);
  border-color: var(--component-button-primary-border-color-hover);
  color: var(--component-button-primary-text-color-hover);
}

.ButtonPrimary:focus,
:global(.storybook-focus).ButtonPrimary,
.ButtonPrimary:active,
:global(.storybook-active).ButtonPrimary {
  background: var(--component-button-primary-background-color-active);
  border-color: var(--component-button-primary-border-color-active);
  color: var(--component-button-primary-text-color-active);
}

.ButtonPrimary[disabled] {
  background: var(--component-button-primary-background-color-disabled);
  border-color: var(--component-button-primary-border-color-disabled);
  color: var(--component-button-primary-text-color-disabled);
}

/* Button: secondary */

.ButtonSecondary {
  background: var(--component-button-secondary-background-color-base);
  border-color: var(--component-button-secondary-border-color-base);
  color: var(--component-button-secondary-text-color-base);
}

.ButtonSecondary:hover,
:global(.storybook-hover).ButtonSecondary {
  background: var(--component-button-secondary-background-color-hover);
  border-color: var(--component-button-secondary-border-color-hover);
  color: var(--component-button-secondary-text-color-hover);
}

.ButtonSecondary:focus,
:global(.storybook-focus).ButtonSecondary,
.ButtonSecondary:active,
:global(.storybook-active).ButtonSecondary {
  background: var(--component-button-secondary-background-color-active);
  border-color: var(--component-button-secondary-border-color-active);
  color: var(--component-button-secondary-text-color-active);
}

.ButtonSecondary[disabled] {
  background: var(--component-button-secondary-background-color-disabled);
  border-color: var(--component-button-secondary-background-color-disabled);
  color: var(--component-button-secondary-text-color-disabled);
}

/** Button: Size */

.ButtonSmall {
  border-radius: var(--component-button-small-border-radius);
  border-width: var(--component-button-small-border-width);
  font-size: var(--component-button-small-font-size);
  line-height: var(--component-button-small-line-height);
  padding: var(--component-button-small-padding-vertical) var(--component-button-small-padding-horizontal);
}

.ButtonMedium {
  border-radius: var(--component-button-medium-border-radius);
  border-width: var(--component-button-medium-border-width);
  font-size: var(--component-button-medium-font-size);
  line-height: var(--component-button-medium-line-height);
  padding: var(--component-button-medium-padding-vertical) var(--component-button-medium-padding-horizontal);
}

.ButtonLarge {
  border-radius: var(--component-button-large-border-radius);
  border-width: var(--component-button-large-border-width);
  font-size: var(--component-button-large-font-size);
  line-height: var(--component-button-large-line-height);
  padding: var(--component-button-large-padding-vertical) var(--component-button-large-padding-horizontal);
}
