/** Nav */

/** Nav: List */

.NavList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/** Nav: Link */

.NavLink {
  color: var(--theme-color-secondary-text);
  display: inline-block;
  padding: var(--theme-size-medium-padding);
  text-decoration: none;
}

.NavLink:hover {
  background: var(--theme-color-secondary-hover-background);
  color: var(--theme-color-secondary-hover-text);
}

.NavLink:focus,
.NavLink:active {
  background: var(--theme-color-secondary-active-background);
  color: var(--theme-color-secondary-active-text);
}

/** Nav: Link: Current */

.NavLinkCurrent {
  background: var(--theme-color-primary-background);
  color: var(--theme-color-primary-text);
}

.NavLinkCurrent:hover {
  background: var(--theme-color-primary-hover-background);
  color: var(--theme-color-primary-hover-text);
}

.NavLinkCurrent:focus,
.NavLinkCurrent:active {
  background: var(--theme-color-primary-active-background);
  color: var(--theme-color-primary-active-text);
}
